{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1484100356142-db6ab6244067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">


          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container space">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h5>About this Website</h5>
        <p>This website was built for project day 88 of the Udemy '100 Days of Code: The Complete Python Pro Bootcamp 2021'.</p>
        <p>It allows the user to create a todo list, register and login, save the list to a database and check the tasks off as they are completed.</p>
        <p>The site in under development and will (hopefully) improve along with my skills.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}